name: Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: "trace"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        features: ["default", "crypto", "binance", "full"]
  
    steps:
    - uses: actions/checkout@main

    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Build
      run: cargo build --verbose --features ${{ matrix.features }}

    - name: Tests
      run: cargo test --verbose --no-fail-fast --features ${{ matrix.features }}